@font-face {
    font-family:"Poppins-Thin";
    src: url("fonts/Poppins-Thin.ttf") 
}
@font-face {
    font-family:"Poppins-Bold";
    src: url("fonts/Poppins-Bold.ttf") 
}
@font-face {
    font-family:"RobotoSlab-Regular";
    src: url("fonts/RobotoSlab-Regular.ttf") 
}
@font-face {
    font-family:"Roboto-Light";
    src: url("fonts/Roboto-Light.ttf") 
}
.grey{
    color:#333;
}
.bg-primary{
    background:#c19e80!important;
}
/*.bg-dark{*/
    /*background:#c19e80!important;*/
/*}*/
.width-650{
    display:inline-block;
    width:650px;
}
body{
    font-family:'Roboto-Light', sans-serif;;
    padding-top:56px;
    min-width:850px; 
}
img{
    max-width:100%;
}
.logo{
    font-family:'Poppins-Bold', sans-serif;;
}

header {
  /*padding: 154px 0 100px;*/
    height:500px;
    background:#c19e80!important;
}
header .intro{
    display: inline-block;
    text-align: left; 
}
header .intro .hi{
    font-family:'Poppins-Thin', sans-serif;;
}
header .intro .name{
    font-family:'Poppins-Bold', sans-serif;;
    margin-top:-12px;
}
header .intro p{
    font-family:'RobotoSlab-Regular', sans-serif;;
    font-size: 10px;
    color: #333;
    margin-top: -8px; 
}
header .photo{
    width:542px;
    display: inline-block;
}
@media (min-width: 992px) {
  /*header {*/
    /*padding: 156px 0 100px;*/
  /*}*/
}
section{
    padding:82px 0 100px 0;
}
section h2{
    font-family:'Poppins-Bold', sans-serif;;
    padding-bottom:20px;
    color:#b57c4c;
}
#teaching h2,
#contact h2 {
    padding-bottom:50px;
}
section h2:before{
    content:"-";
    margin-right:10px;
    color:#c19e80;
}
section h2:after{
    content:"-";
    margin-left:10px;
    color:#c19e80;
}
#about > div{
    padding:20px 0;
}
#about img{
    width:156px;
    vertical-align:bottom;
    border-radius: 50%;
}
.ri-container>div{
    display:inline-block;
    width:200px;
}
.ri-container img{
    width: 118px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.ri-1,
.ri-4 {
    position:relative;
    top:24px;
}
#publication-chart{
    height: 400px; 
    margin: 0 auto 
}
.citation-counts-container{
    margin-top:20px;
}
.citation-counts{
    display:inline-block;
}
.citation-counts label{
    display:block;
    color: #666;
}
.citation-counts span{
    display:block;
    font-size:46px;
    color:#b57c4c;
}
.counts-1{
    position: relative;
    left: -110px;
}
.counts-3{
    position: relative;
    left: 110px;
}
.articles{
    margin-top:40px;
}
.articles a{
    color:#b57c4c;
}
.teaching-item{
    width: 216.666666666px;;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    color: #333;
}
.teaching-item:hover{
    text-decoration: none;
    background:#c19e80;
    color:#333;
}
.ti-2{
    border-left: 1px #bbb solid;
    border-right: 1px #bbb solid;
}
.teaching-item .place{
    margin-top: 72px;
}
.contact-info{
    text-align:left;
    margin-top:30px;
}
.contact-info h5{
    margin: 12px 0 2px 0;
    color:#b57c4c;
}
.email{
    unicode-bidi:bidi-override;
    direction:rtl;
}
